*{
    margin: 0;
}

.push{
    width: 600px;
    height: 47px;
    background-color: #FF6060;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.contenu{
    width: 560px;
    background-color: rgb(246, 246, 246);
    color: #FF6060;
    padding: 20px;
    border-radius: 5px;
    /* position: relative;
    left:210px; */
    text-align: left!important;
}
.contenu ul{
    list-style: none;
}
.contenu ul li{
    text-align: left;
}
@media screen and (min-width:454px) and (max-width:840px) {
    .push{
        width: 360px;
    }
    .contenu{
        width: 320px;
    }
}