*{
    margin: 0;
}
.kasaheading{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.kasaTitre{
    color: #FF6060;
    padding-top: 20px;
    text-align: left;
}
.kasaTitre h2{
    font-size: 35px;
}
.host{
    display: flex;
    align-items: center;
    padding-top: 20px;
    color:#FF6060 ;
}
.host img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.host .name{
    width: 90px;
    text-align: end;
    padding-right: 15px;
}
.accord{
    display: flex;
    justify-content: center;
}
.description{
    text-align: left;
    position: relative;
    left: 250px;
}
.equipement{
    position: relative;
    right: 170px;
}
.tags{
    padding-top: 30px;
}
.tag{
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    margin-right: 10px;    
    padding: 5px;
    font-size: 15px;    
}
@media screen and (min-width:454px) and (max-width:840px) {
    .kasaTitre h2 {
        font-size: 18px;
    }
    .host{
        position: relative;
        top: 80px;
        left: -180px;
    }
    .host img{
        margin-top: 10px;
        width: 80px;
        height: 80px;
    }
    .location{
        font-size: 13px;
    }
    .location, .tags{
        width: 360px;
    }
    .tags{
        margin-top: -15px;
    }
    .tag{
        font-size: 10px;
    }
    .rateStars{
        position: relative;
        top: 10px;
        left: -360px;
    }
    .accord{
        margin-top: 60px;
        display: block;
        margin-left: -20px;
        position: relative;
        left: 60px;
    }
}