.content-text{
    padding: 20px;
    width: 1023px;
    display: inline-block;
    position:relative;
    top: 20px;
}
.content-btn{
    padding: 20px;
    width: 1023px;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 80px;
}
.btn{
    cursor: pointer;
    width: 1023px;
    height: 47px;
    background-color: #FF6060;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon h4{
    padding: 5px;
    margin-left: 10px;
   
}
.icon .fa-solid{
    padding: 5px;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.text{
    color:#FF6060;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 5px;    
}
.text p{
    text-align: start;
    width: 900px;
    padding-top: 10px;
}
@media screen and (min-width:450px) and (max-width:840px){
    .content-btn{
        position: relative;
        left: -20px;
    }
    .btn{
        width: 340px;
    }
    .text,.text p {
        width: 300px;
    }
    .icon h4{
        font-size: 16px;
    }
}