
.content-text{
    padding: 20px;
    width: 1023px;
    display: inline-block;
    position:relative;
    top: 20px;
}
.content-btn{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    display: inline-block;
    
}
.drop-down{
    width: 80%;
    margin: auto;
}
.btn{
    cursor: pointer;
    width: 100%;
    height: 47px;
    background-color: #FF6060;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon h4{
    padding: 5px;
    margin-left: 10px;
   
}
.icon .fa-solid{
    padding: 5px;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.text{
    
    box-sizing: border-box;
    width: 100%;
    color:#FF6060;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 5px;    
}
.text p{
    text-align: left;
    padding-top: 10px;
}
.text ul{
    list-style: none;
}

@media screen and (min-width:454px) and (max-width:840px){
    .content-btn{
        position: relative;
        left: -50px;
    }
    .btn{
        width: 325px;
    }
    .text,.text p {
        width: 325px;
    }
    .text p{
        width: 300px;
    }
    .icon h4{
        font-size: 16px;
    }
}