@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.App{
  width: 80%;
  margin: auto;
  max-width: 1240px;
}
.content{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px;
}
.link{
 position: relative;
 left: 40px;
}
.lien{
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
  color: #FF6060;  
}
.logo{
  display: flex;
  align-items: center;
  color: #FF6060;
  position: relative;
  left:-12px;
  font-size: 40px;
  letter-spacing: 5px;
  margin-left: 10px;
}
.logo img{
  width: 35px;
  padding: 2px;
  position: relative;
  top: 5px;
}
.footer{
  height: 200px;
  margin-inline: -27%;
  background: black;
  color: white;
  padding-top: 50px;
  margin-top: 15px;
}
.foot{
  display: flex;
  justify-content: center;
  align-items: center; 
  letter-spacing: 5px;
}
.foot h2{
  font-size: 50px;
}
.foot img{
  width: 30px;
  position: relative;
  top: 5px;
}
.para{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
}
.orange{
  color: #FF6060;
}
.grey{
  color:grey;
}
 @media screen and (min-width:450px) and (max-width:840px){
    .logo{
      font-size: 25px;
    }
    .logo img{
      width: 20px;
    }
    .link{
      margin-top: 10px;
      position: relative;
      left: 20px;      
    }
    .lien{
      font-size: 18px;
      
    }
 }