@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  /* max-width: 1240px; */
}
.content{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.link{
  padding-right: 20px;
}
.lien{
  text-decoration: none;
  margin: 15px;
  color: #FF6060;
}
.logo{
  font-size: 60px;
  color: red;
  padding-left: 20px;
}
.footer{
  background: black;
  color: white;
}
